* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: gray; */
    padding: 10em;
    border: 2px solid gray;
}