* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(217, 222, 228);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: gray; */
    padding: 5em 5em;
    border: 2px solid rgb(122, 122, 124);
    gap: 2em;
    background-color: white;
}

#image_grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid black;
    background-image: url(images/cronos.jpg);
    background-size: cover;
    width: 25em;
    height: 35em;
}

.square {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    cursor: pointer;
}

.square.active,    .square:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

img {
    width: 20em;
    height: 5em;
}

input {
    width: 20em;
    font-size: 1em;
}

    #transition {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: white;

        /* transition-duration: 1s;
        transition-property: visibility;
        transition-timing-function: ease-out; */
        visibility: visible;
    }